<a href="/index.html"><img class="logo" src="/favicon.png"></a>
<header style="display: flex;
    width: 100%;">
        <div class="dropdown">
		<button class="dropbtn">Literature and related</button>
		<div class="dropdown-content">
			<a href="/stories">Stories</a>
			<a href="/songs">Songs</a>
			<!-- <a href="#">Link 2</a> -->
			<!-- <a href="#">Link 3</a> -->
		</div>
	</div>

	<div class="dropdown">
		<button class="dropbtn">Blogs</button>
		<div class="dropdown-content">
			<a href="/blogs/highlighted.md">Highlighted Blogs</a>
			<a href="/blogs/by_tags.html">Select By Tags</a>
			<a href="/blogs">All Blogs List</a>
		</div>
	</div>


</header>

