<a href="/index.html"><img class="logo" src="/favicon.png"></a>
<header>
        <div class="dropdown">
		<button class="dropbtn">Literature and related</button>
		<div class="dropdown-content">
			<a href="/stories">Stories</a>
			<a href="/webnovels">Web Novels</a>
			<!-- <a href="#">Link 2</a> -->
			<!-- <a href="#">Link 3</a> -->
		</div>
	</div>

	<div class="dropdown">
		<button class="dropbtn">Blogs</button>
		<div class="dropdown-content">
			<a href="/blogs">All Blogs List</a>
			{{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        {{ end }}
		</div>
	</div>


</header>

