<html>
	<head>
		<title>
			Thevoidis Blog
		</title>
	</head>
	<link rel="icon" type="image/x-icon" href="/favicon.png">
	<link rel="stylesheet" href="/style.css">
	<body>
{{ partial "header.html" . }}
	<h2>Here are all the blogs :</h2>
	<br>
		{{ range where .Site.RegularPages "Section" "blogs" }}
			<div class="bloginfo">
	<a class="bloglink" href="{{ .RelPermalink }}">
		<div class="blog_select_div">
				<h2>{{ .Title }}</h2>
					{{ .Summary }}..
			</div>
	</a>
		</div>
	<br>

{{ end }}

	</body>
</html>
